body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("../assets/images/pipi.jpeg");
  background-size: contain;
}

.item {
  background-color: grey;
  height: 200px;
  width: 200px;
  margin-bottom: 20px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
