/* Global style */
body {
    background-color: #132c10; /* Oscuro como el tema de LOL */
    color: #D4AF37; /* Dorado para los textos principales */
    font-family: sans-serif; /* Fuente moderna */
    margin: 15px;
    padding: 0;
}

/* Header */
header {
    padding: 0px;
    text-align: center;
}

/* Buttons */
button {
    background-color: #ebe71d;
    color: #0C0E14;
    border: rgb(148, 148, 16);
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}

/* Container for the cards */
#lol {
    display: flex; /* Activate flexbox */
    flex-wrap: wrap; /* Allow cards to wrap onto multiple lines */
    justify-content: center; /* Center cards horizontally */
    gap: 20px; /* Add spacing between cards */
}

/* Cards */
.card {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    background-image: linear-gradient(rgb(24, 24, 24), rgb(43, 42, 42));
    text-align: center;
    padding: 20px;
    width: 250px; /* Set a fixed width for the cards */
    position: relative; /* Needed for the overlay */
}

.card img {
    width: 100%;
    height: auto;
}

.card:hover img {
    transform: scale(1.25); /* Enlarge the image on hover */
}

.card .specs {
    display: none; /* Hide specs by default */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    color: #D4AF37; /* Text color */
    padding: 10px;
    border-radius: 5px;
}

.card:hover .specs {
    display: block; /* Show specs on hover */
}

.name {
    font-size: 20px;
    font-weight: bold;
}
